@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');


/* HOME PAGE */

* {
   margin: auto;
   background: #EEFAFF;
}

.showcase {
   display: flex;
   flex-direction: column;
}

.img-showcase {
   width: 100%;

}

.showcase-text {
   height: 38px;
   width: 100%;
   background: #6479FF;
   font-family: 'Inter', sans-serif;
   font-size: 10px;
   justify-content: center;
   color: #FFBB24;
   display: flex;
   font-weight: 700;
   text-align: center;
   align-items: center;

}

/* INTRODUÇÃO */

.introduction {
   justify-content: center;

}

.introduction-container {
   font-family: 'Inter';
   font-style: normal;
   font-size: 12px;
   text-align: justify;
   color: #6479FF;
   margin: 20px;

}

.introduction-block {
   height: 40px;
   width: 100%;
   background: #6479FF;
   font-family: 'Inter', sans-serif;
   font-size: 14px;
   justify-content: center;
   color: #FFBB24;
   display: flex;
   font-weight: bold;
   text-align: center;
   align-items: center;
}

.img-project-creators {
   max-width: 100%;
}

/* CONTEXTO */

.context {
   margin: 50px 10px 10px 10px;

}

.img-ebook {
   max-width: 90%;
}

.context-img-book {
   display: flex;

}

.context-container {
   font-family: 'Inter';
   font-style: normal;
   font-size: 12px;
   text-align: justify;
   color: #6479FF;
   margin: 10px;
}

.context-block {
   height: 40px;
   width: 100%;
   background: #6479FF;
   font-family: 'Inter', sans-serif;
   font-size: 14px;
   justify-content: center;
   color: #FFBB24;
   display: flex;
   font-weight: bold;
   text-align: center;
   align-items: center;

}

/* MATERIAIS */

.materials {
   display: flex;
   font-family: 'Inter';
   font-weight: 700;
   font-size: 16px;
   line-height: 44px;
   align-items: center;
   letter-spacing: 0.14em;
   color: #6479FF;

}

.materials-blocks {
   display: flex;
   justify-content: center;
}

.materials-text-kit {

   height: 3px;
   min-width: 30%;
   background: rgba(117, 137, 255, 1);

}

.img-materials {
   max-width: 100%;
}

/* FERRAMENTAS */

.tools {
   margin: 0 0 74px 0;
}

.tools-container {
   margin: 20px 20px 0;
   height: 10vh;


}

.tools-container-kit {
   height: 35px;
   max-width: 100%;
   background: #6479FF;
   font-family: 'Inter', sans-serif;
   font-size: 14px;
   justify-content: center;
   color: #FFBB24;
   display: flex;
   font-weight: bold;
   text-align: center;
   align-items: center;


}

.tools-img-clipboard {
   max-width: 25%;
   position: relative;
   left: -17px;
   background: transparent;
   top: -60px;

}

.tools-gallery {
   position: relative;
   max-width: 640px;
}

.tools-gallery-container {
   display: flex;
   flex-flow: row nowrap;

}

.tools-gallery-wrapper {
   overflow-x: auto;
}

.item {
   min-width: 40%;

}

/* DOWNLOAD */


.download-button-container {
   display: flex;

}

.button-download {
   width: 60%;
   height: 38px;
   background: #FFBB24;
   border-radius: 50px;
   border: none;
   cursor: pointer;
   filter: drop-shadow(0px 0px 16px rgb(255, 187, 36, 1));

}

.download-ebook {
   font-family: 'Inter';
   font-weight: 700;
   font-size: 17px;
   color: #6479FF;
   background: transparent;
   text-decoration: none;
}

.img-megaphone {
   max-width: 40%;
   position: relative;
   background: transparent;
   bottom: 110px;
   left: 58%;

}

/* JOGO DA MEMÓRIA */

.memory-game {
   justify-content: center;

}

.memory-game-container {
   font-family: 'Inter';
   font-style: normal;
   font-size: 12px;
   text-align: justify;
   color: #6479FF;
   margin: 20px;

}

.memory-game-block {
   height: 40px;
   width: 100%;
   background: #6479FF;
   font-family: 'Inter', sans-serif;
   font-size: 14px;
   justify-content: center;
   color: #FFBB24;
   display: flex;
   font-weight: bold;
   text-align: center;
   align-items: center;
}

.img-memory-game {
   margin: 20px;
   max-width: 80%;
}

.link {
   display: flex;
   margin: 0 0 50px 50px;

}

.button-memory-game {
   width: 60%;
   height: 38px;
   background: #FFBB24;
   border-radius: 50px;
   border: none;
   cursor: pointer;
   filter: drop-shadow(0px 0px 16px rgb(255, 187, 36, 1));

}

.link-memory-game {
   font-family: 'Inter';
   font-weight: 700;
   font-size: 17px;
   color: #6479FF;
   background: transparent;
   text-decoration: none;
}

.img-alvo {
   max-width: 25%;
   position: relative;
   background: transparent;
   left: -20%;
   bottom: -10px;
}

/* CRIADORES */

.creators-gallery {
   position: relative;
   max-width: 640px;

}

.creators-gallery-container {
   display: flex;
   flex-flow: row nowrap;
   gap: 20px;
   margin: 0 0 50px;
   padding: 0 10px;
}

.creators-gallery-wrapper {
   overflow-x: auto;
}

.creator {
   min-width: 50%;

}

/* RODAPÉ */

.footer {
   background: #6479FF;
   color: #FFBB24;
   text-align: center;
   padding: 10px;
}

/* TABLET */

@media(min-width: 750px) {
   .showcase-text {
      height: 40px;
      font-size: 15px;
   }

   .introduction {
      display: flex;

   }

   .introduction-container {
      font-size: 14px;
      margin: 20px 10px;

   }
   
   .introduction-block{
      font-size: 17px;
   }

   .img-project-creators {
      max-width: 50%;
   }

   /* CONTEXTO */

   .context {
      display: flex;
      transform: scaleX(-1);

   }

   .img-ebook {
      max-width: 330px;
   }

   .context-img-book {
      display: flex;
      transform: scaleX(-1);


   }

   .context-container {
      transform: scaleX(-1);
      font-size: 14px;
      margin: 10px 20px;
   }

   .context-block {
      height: 40px;
      width: 100%;
      font-size: 17px;

   }

   /* FERRAMENTAS */

   .tools-container {
      height: 25vh;

   }

   .tools-img-clipboard {
      left: -22px;
      top: -85px;
   }

   .tools-gallery {
      max-width: 740px;
   }

   /* DOWNLOAD */

   .button-download {
      width: 60%;
      height: 48px;

   }

   .download-ebook {
      font-size: 20px;
   }

   .img-megaphone {
      max-width: 30%;
      bottom: 160px;
      left: 500px;

   }

   /* JOGO DA MEMORIA */
   .memory-game {
      transform: scaleX(-1);
      display: flex;
   
   }
   
   .memory-game-container {
      transform: scaleX(-1);
      font-size: 20px;
   }
   
   .memory-game-block {
      height: 40px;
      font-size: 20px;
   }
   
   .img-memory-game {
      transform: scaleX(-1);
      max-width: 30%;
   }
   
   .button-memory-game {
      width: 60%;
      height: 50px;
   
   }
   
   .link-memory-game {
      font-size: 20px;
   }
   
   .img-alvo {
      max-width: 20%;
   }

}

@media(min-width: 750px) {
   .introduction-container {
      font-size: 17px;
   }

   .materials {
      font-size: 26px;
   }

   .tools-gallery {
      max-width: 940px;
   }

   .img-megaphone {
      bottom: 185px;
      left: 66%;
   }

   .creators-gallery {
      max-width: 940px;
   }

   .creators-gallery {
      max-width: 100%;
   }

   .creators-gallery-wrapper {
      overflow-x: auto;
   }

   .creator {
      min-width: 23%;
   }
}

@media(min-width: 1336px) {
   .showcase-text {
      font-size: 20px;
   }

   /* CONTEXTO */

   .context-container {
      font-size: 24px;

   }

   .context-block {
      font-size: 24px;
      height: 60px;
   }

   .img-ebook {
      max-width: 530px;
   }

   /* INTRODUÇÃO */

   .introduction-block {
      font-size: 24px;
      height: 60px;
   }

   .introduction-container {
      font-size: 24px;

   }

   /* MATERIAIS */

   .materials {
      font-size: 34px;
   }

   /* GALERIA */

   .tools-gallery {
      max-width: 940px;
   }

   .tools-container-kit {
      height: 60px;
      font-size: 24px;
   }

   .tools-img-clipboard {
      left: -29px;
      top: -105px;
   }

   .tools-gallery {
      max-width: 100%;
   }

   .item {
      min-width: 20%;
   }

   .creators-gallery {
      max-width: 100%;
   }

   .creators-gallery-wrapper {
      overflow-x: auto;
   }

   /* DOWNLOAD */

   .button-download {
      height: 80px;
   }

   .download-button-container {
      margin: 50px 0 0 0;
   }

   .download-ebook {
      font-size: 29px;
   }

   .img-megaphone {
      bottom: 195px;
      left: 69%;
   }

   /* JOGO DA MEMORIA */   
   .memory-game-container {
      display: flex;
      font-size: 25px;
      flex-direction: column;
      justify-content: center;
   }
   
   .memory-game-block {
      height: 60px;
      font-size: 25px;
      margin: 0;
   }
   
   .img-memory-game {
      max-width: 22%;
   }
   
   .button-memory-game {
      width: 55%;
      height: 80px;
   
   }
   
   .link-memory-game {
      font-size: 29px;
   }
   
   .img-alvo {
      max-width: 20%;
      left: -26%;
      bottom: -16px;
   }

   .creator {
      min-width: 15%;
   }

}